/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background-color: rgb(134, 142, 218);
    background: url("https://images2.alphacoders.com/698/698137.jpg") no-repeat;
    background-size:     cover;                      /* <------ */
    background-repeat: repeat-y;
    background-position: center center;
  }
  
  p {color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


  header {
    background: rgba(0, 0, 0, 0.678);
    align-content: center;
  }
  
  h1 {
    padding: 10px;
    margin right: 10;
    margin-bottom: -10px;
    font-size: 25px;
    color: rgb(137, 186, 226);
    text-align: left;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
  }
  
  h2 {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
  }

  h3 {
font-size: 30px;
color: whitesmoke

  }

  }
  
  a {
    color: b=lightblue;
  }
  
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  
  #main-bio,
  #contact-info,
  #bio-image {
    float: left;
    align-content: center;
  }
  
  #main-bio {
    width: 70%;
  }
  
  #contact-info {
    width: 30%;
    align-content: center;
  }

 
 
  
  .violet {
    color: rgb(216, 192, 253);
    background: rgba(0, 0, 0, 0.733); 
    font-size: 10vmin;
    padding: 28px;
    margin right: 30;
    margin-top: -10px;
    margin-bottom: 10vh;
    text-align: center;
  
     
  }

  .darkblue {color:rgb(77, 77, 85)

  }

  .about-me-title {
    background: rgb(0, 0, 0);
    height: 50px;
    width: 140px;
  border: 15px solid rgb(49, 49, 53);
  padding: 50px; 
  margin: -40px 0px;
 
  }
  .about-me {
    background: rgb(0, 0, 0);
    width: 600px;
  border: 15px solid rgb(49, 49, 53);
  padding: 50px;
  margin: -50px 0px;
  }

  .about-me-2 {
    background: rgb(0, 0, 0);
    width: 515px;
  border: 15px solid rgb(49, 49, 53);
  padding: 50px;
  margin: -500px 0px 80px 800px;
  }

  .about-me-3 {
    background: rgb(0, 0, 0);
    width: 515px;
  border: 15px solid rgb(49, 49, 53);
  padding: 50px;
  margin: ;
  }

  .coding-image {
    style="text-align: right"
  }


.imageborder {
      border-style: solid;
  border-color:  rgb(49, 49, 53);
  border-width: 20px;
   }

   .imageborder-2 {
    border-style: solid;
border-color:  rgb(49, 49, 53);
border-width: 20px;
margin: 40px 0px 0px 300px

 }